body{
  background: asset-url("background.png");
  margin: 0;
  font-family: "Cabin", $helvetica;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.container{
  @include outer-container;
}

.button{
  background-color: #058788;
  color: white;
  padding: 1em 2em;
  border-radius: 1em;
}
