html, body{
  height: 100%;
}

body{
  background: asset-url("background.png");
  margin: 0;
  font-family: "Cabin", $helvetica;
}

h1, h2, h3 {
  text-transform: uppercase;
}


#page-wrap{
  min-height: 100%;
  margin-bottom: em(-72);

  &:after{
    content: "";
    display: block;
    height: em(72);
  }
}

.container{
  @include outer-container;
}

.button{
  background-color: #058788;
  color: white;
  padding: 1em 2em;
  border-radius: 1em;
}
