#home-hero{
  margin-top: em(90);
  text-align: center;

  h1{
    margin-bottom: em(48);
  }

  .dojos{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.bridge-bar{
  background-color: #058789;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.how-it-works{
  background-color: #fff;

  h2{
    text-align: center;
    margin: 46px 0;
  }


  .video{
    @include span-columns(6);
  }

  .text{
    @include span-columns(6);
    @include omega;

    h3 {
      margin-bottom: .5em; 
    }

    p{
      margin-bottom: 2em;
    }
  }
}

.learn{
  background-color: #ba691d;
  color: white;

  h2{
    text-align: center;
    margin: 46px 0;
  }

  p.details{
   @include shift(2);
   @include span-columns(8);
   @include omega; 

   text-align: center;
  }

  .categories{
    @include span-columns(12);
    @include omega;
    margin: 2em 0;
  }
  .category{
    @include span-columns(3);
    @include omega(4n);
    text-align:center;

    .caption{
      text-transform: uppercase;
      font-size: 1.25em;
    }
  }
}

.connect{
  color: #158788;

  h2{
    text-align: center;
    margin: 46px 0;
  }

  p.details{
   @include shift(2);
   @include span-columns(8);
   @include omega; 

   text-align: center;
  }

  .senseis{
    @include span-columns(12);
    @include omega;
    margin: 2em 0;  
  }

  .sensei{
    @include span-columns(4);
    @include omega(3n);
    text-align:center;

    .caption{
      text-transform: uppercase;
      font-size: 1.25em;
    }
  }
}

.community{
  background-color: white;
  color: #ba691d;

  h2{
    text-align: center;
    margin: 46px 0;
  }

  p.details{
   @include shift(2);
   @include span-columns(8);
   @include omega; 

   text-align: center;
  }
}

.pricing{
  text-align: center;
  background-color: #E8F5F2;

  .button{
    display: block;
    margin: 10em auto;
    width: 40%;
  }
}

